*.ipynb_checkpoints
*__pycache__

data/*
results/*
analysis/transcript_parsing/data/*

# Vim configs
**/.vim

# cached dir
**/.cache

# Thesis pdf and zip
Thesis/*.pdf
Thesis/*.zip

# vscode settings
**/.vscode

# .env files
**/.env

# Don't commit predictions or train_results
# Train results are checkpoints and metrics data from different experiments
predictions
train_results

# Don't commit local training/model checkpoints
checkpoints

# commitizen config
*pyproject.toml

# Lhotse files from notebooks
notebooks/manifests/
notebooks/test_dev_feats/
notebooks/tmp

# Output plots
plots

# Lhotse files for demo-notebook
.demo-feats
